.rodape {
  background-color: rgb(75, 75, 75);
  width: 100%;
}

.rodape-div-center {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  color: white;
}

.rodape-div-center p {
  margin: 6px auto;
  margin-bottom: 0;
}